.background-banner {
  background-image: image-url("prato.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}

.shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.main-content {
  margin-top: 0.5rem !important;
}
