<ul class="sidenav nav flex-column" data-toggle-target="sidebar">
  <li class="nav-item">
    <%= link_to "#",
        class: "nav-link text-dark",
        data: { action: "click->toggle#toggleSidebar" } do %>
      <i class="fa-regular fa-square-caret-left sidebar-icon"></i>
    <% end %>
  </li>

  <% restaurants.each do |restaurant| %>
    <li class="nav-item">
      <%= link_to restaurant.city, restaurant_path(restaurant), class: "nav-link text-dark" %>
    </li>
  <% end %>
</ul>
