<div class="chat-sidebar">

  <ul class="sidebar-list">
    <li><%= link_to "Restaurantes", restaurants_path %></li>
    <li><%= link_to "Página inicial", root_path %></li>
  </ul>

  <ul class="sidebar-list">
    <li><%= link_to "Novo chat", conversations_path %></li>
  </ul>


  <div class="sidebar-footer">
    <i class="fa-solid fa-gear"></i>
    <span>Configuração</span>
  </div>

</div>
