<ul class="sidenav nav" data-toggle-target="sidebar">
  <li class="nav-item w-100">
    <%= link_to "#",
      class: "nav-link text-secondary d-flex justify-content-end",
      data: { action: "click->toggle#toggleSidebar" } do %>
        <i class="fa-solid fa-square-caret-left sidebar-icon"></i>
    <% end %>
  </li>

    <% restaurants.each do |restaurant| %>
      <% bg = @city_backgrounds[restaurant.city] %>
      <li class="nav-item sidebar"
        style="background-image: url('<%= asset_path(bg) %>')">
        <%= link_to restaurant.city, restaurant_path(restaurant), class: "nav-link text-dark" %>
      </li>
    <% end %>

</ul>
