<div class="container mt-5">
    <h1 class="text-center mb-3 snapbite-title">SnapBite</h1>
    <p class="text-center mb-4">
      Saboreie as melhores sugestões de restaurantes!
    </p>
<div class="text-center">
<%= button_to "Onde comer hoje?",
      conversations_path,
      method: :post,
      class: "btn btn-where px-4 py-2" %>
