<div class="container mt-5">
  <h1 class="text-center mb-3">IA de Restaurantes</h1>
  <p class="text-center mb-4">
    Faça login, escolha um restaurante e comece um chat com a IA para receber recomendações.
  </p>
  <%= button_to "Começar chat com a IA", conversations_path, method: :post, class: "btn btn-primary" %>

  <div class="d-flex justify-content-center gap-3">
    <%= link_to "Ver Restaurantes", restaurants_path, class: "btn btn-primary" %>
    <%= link_to "Meus Chats", conversations_path, class: "btn btn-outline-primary" %>
  </div>
</div>
