.navbar-custom {
  background-color: #FA4632; /* cor da sua logo */
}

/* Centraliza a logo */
.navbar-logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-logo-img {
  height: 50px; /* ajuste como quiser */
}

.navbar-custom .container-fluid {
  display: flex;
  justify-content: center !important;
  position: relative;
}

/* Links brancos, negrito e em MAIÚSCULO */
.nav-link-custom {
  color: white !important;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  margin: 0 15px;
}

/* Remove bordas e sombras */
.navbar-custom .navbar-toggler {
  border-color: rgba(255,255,255,0.6);
}

.navbar-custom .navbar-toggler-icon {
  filter: brightness(0) invert(1);
}

